* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(28, 34, 45);
  --secondary-color: rgb(153, 153, 153);
}

body {
  background-color: rgb(25, 31, 40);
}
.top-bar {
  background-color: var(--primary-color);
  color: rgb(255, 255, 255);
  display: flex;
}

#search-form {
  position: relative;
}

#search {
  margin-top: 10px;
  font-size: 1em;
  width: 250px;
  vertical-align: middle;
  padding: 2px;
  padding-left: 10px;
  line-height: 35px;
  background-color: var(--primary-color);
  border: 0.2px solid rgb(153, 153, 153);
  border-radius: 5px;
  color: var(--secondary-color);
  position: relative;
  transition: width 1s;
}

#search:focus {
  width: 280px;
  color: #48555e;
}

#search-button {
  border: none;
  background: none;
  cursor: pointer;
  vertical-align: -webkit-baseline-middle;
  position: absolute;
  color: var(--secondary-color);
  position: absolute;
  right: 10px;
  top: 48%;
  transform: translateY(-50%);
}

#logo {
  width: 60px;
}
