* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(28, 34, 45);
  --secondary-color: rgb(153, 153, 153);
}

body {
  background-color: rgb(25, 31, 40);
}
.top-bar {
  border: 2px solid rgb(219, 136, 136);
  background-color: var(--primary-color);
  color: rgb(255, 255, 255);
  display: flex;
}

#search {
  margin-top: 10px;
  font-size: 1.2em;
  vertical-align: middle;
  line-height: 35px;
  background-color: var(--primary-color);
  border: 0.2px solid white;
  border-radius: 5px;
  color: var(--secondary-color);
}

#search-button {
  border: none;
  background: none;
  cursor: pointer;
  vertical-align: -webkit-baseline-middle;
  color: var(--secondary-color);
}

#logo {
  width: 60px;
}
