* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  box-sizing: border-box;
  color: var(--secondary-color);
  /* remove it later ^^^^^^^^^^*/
}

:root {
  --primary-color: rgb(28, 34, 45);
  --secondary-color: rgb(153, 153, 153);
}

body {
  background-color: rgb(25, 31, 40);
}
.top-bar {
  background-color: var(--primary-color);
  color: rgb(255, 255, 255);
  display: flex;
  position: fixed;
}

/* search bar -----------------------------------------------------------------------------------------------------------------*/

#search-form {
  position: relative;
}

#search {
  margin-top: 10px;
  font-size: 1em;
  width: 250px;
  vertical-align: middle;
  padding: 2px;
  padding-left: 10px;
  line-height: 35px;
  background-color: var(--primary-color);
  border: 0.2px solid rgb(153, 153, 153);
  border-radius: 5px;
  color: var(--secondary-color);
  position: relative;
  transition: width 1s;
}

#search:focus {
  width: 280px;
  color: #48555e;
}

#search-button {
  border: none;
  background: none;
  cursor: pointer;
  vertical-align: -webkit-baseline-middle;
  position: absolute;
  color: var(--secondary-color);
  position: absolute;
  right: 10px;
  top: 48%;
  transform: translateY(-50%);
}

/* NAV BAR --------------------------------------------------------------------------------------------------------------------------------*/
#nav-bar {
  display: -ms-flexbox;
  background-color: var(--primary-color);
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 65px;
}

/* user info --------------------------------------------------------------------------------------------------------------------*/

#logo {
  width: 60px;
}
#User {
  display: flex;
  align-items: center;
  padding: 10px; /* Light gray background for the user div */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.user-image-container {
  width: 50px;
  height: 50px;
  border-radius: 50%; /* Circular container */
  overflow: hidden; /* To ensure the image fits within the circular container */
  margin-right: 10px; /* Space between image and text */
}

#user_image {
  width: 100%;
  height: 100%;
}

.user-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align text to the left */
}

.welcome-text {
  font-size: 14px;
  margin-bottom: 2px; /* Small space between welcome text and username */
}

.username {
  font-size: 18px;
  font-weight: bold;
}
